<a href="https://colab.research.google.com/github/mateuscsco/Formacao_Data_Science/blob/main/Pandas/Extras/Formas_de_Sele%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (8, 10, 11, 12),
        (13, 14, 15, 16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())#data=data, 'l1 l2 l3 l4'.split()=index e 'c1 c2 c3 c4'.split()= columns

In [3]:
'l1 l2 l3 l4'.split() # o método split() divide uma string em elementos individualizados

['l1', 'l2', 'l3', 'l4']

In [4]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [ ]:
df['c1']#para selecionar uma column no formato de Series

l1     1
l2     5
l3     8
l4    13
Name: c1, dtype: int64

In [5]:
type(df['c1'])#provando que o resultado é do tipo Series

pandas.core.series.Series

In [6]:
df[['c3','c1']]#selecionando duas columns

    c3  c1
l1   3   1
l2   7   5
l3  11   8
l4  15  13

In [7]:
df[:]#selecionando a DataFrame toda

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [8]:
df[1:3]#seleção somente das linhas l2e l3

    c1  c2  c3  c4
l2   5   6   7   8
l3   8  10  11  12

In [9]:
df[1:][['c3', 'c1']]#selecionando à partir da row(linha) 1 (dado que a contagem se inicia em 0), as columns c3 e c1

    c3  c1
l2   7   5
l3  11   8
l4  15  13

In [ ]:
df.loc['l3']#permite que realizemos seleções a partir do rótulo das linhas, em forma de Series

c1     8
c2    10
c3    11
c4    12
Name: l3, dtype: int64

In [10]:
df.loc[['l3', 'l2']]#selecionando mais de uma row

    c1  c2  c3  c4
l3   8  10  11  12
l2   5   6   7   8

In [ ]:
df.loc['l1', 'c2']#podemos selecionar uma row e uma column, como uma notação matricial

2

In [ ]:
df.iloc[0,1]#utiliza os índices numéricos. Se quisermos coletar l1, precisaremos escrever 0; para coletar a coluna c1, escreveremos 1

2

In [11]:
df.loc[['l3', 'l1'], ['c4','c1']]#para selecionar um grupo de rows e columns específicos

    c4  c1
l3  12   8
l1   4   1

In [12]:
df.iloc[[2,0],[3,0]]#a mesma seleção com o iloc[]

    c4  c1
l3  12   8
l1   4   1