<a href="https://colab.research.google.com/github/mateuscsco/Formacao_Data_Science/blob/main/Pandas/Tipos_de_Im%C3%B3veis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Relatório de Análise II

## Tipos de Imóveis

In [ ]:
import pandas as pd#importando o package do pandas
from google.colab import drive#importando o drive do google colab
drive.mount('/content/drive')#acessando o drive para utilizar arquivos do meu drive

Mounted at /content/drive

In [ ]:
dados=pd.read_csv('drive/MyDrive/Colab Notebooks/Formação Data Science/Pandas/Dados/aluguel.csv', sep=";")#lendo arquivo com dados separados por ;

In [ ]:
dados.head(10)#exibindo 10 primeiras rows

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

In [ ]:
dados['Tipo']#exibindo apenas uma column em forma de Series(array)

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [ ]:
tipo_de_imovel = dados['Tipo']
type(tipo_de_imovel)#tipo Series é uma array unidimensional

pandas.core.series.Series

In [ ]:
tipo_de_imovel.drop_duplicates()#Este método agrupa todos os tipos de imóveis existentes na série coletando apenas o primeiro item de cada tipo, e eliminando os outros.

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

In [ ]:
tipo_de_imovel.drop_duplicates(keep='last', inplace=False)#utilizando argumentos da função podemos determinar, por exemplo, o keep que pode manter, ao invés do primeiro de cada valor, o último.

2157                         Chácara
4721                   Pousada/Chalé
23614                      Indústria
25880          Loteamento/Condomínio
26977                          Hotel
28178                         Studio
30120                          Sítio
30916                 Terreno Padrão
32491                           Loft
32752                 Casa Comercial
32833                 Prédio Inteiro
32836                           Flat
32865                   Casa de Vila
32899        Galpão/Depósito/Armazém
32927    Loja Shopping/ Ct Comercial
32929                     Loja/Salão
32931                           Casa
32952             Casa de Condomínio
32954                    Box/Garagem
32955                      Quitinete
32958                    Apartamento
32959        Conjunto Comercial/Sala
Name: Tipo, dtype: object

In [ ]:
tipo_de_imovel.drop_duplicates(inplace=True)#já o inplace atribui o resultado da função à variável já durante a execução, caso igual a 'True', e não atribui, caso 'False'
tipo_de_imovel

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

## Organizando Visualização

In [ ]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)#transforma a Series(array unidimensional) em DataSeries
tipo_de_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [ ]:
tipo_de_imovel.index #exibe os índices do DataFrame

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

In [ ]:
tipo_de_imovel.shape[0]

22

In [ ]:
for i in range(tipo_de_imovel.shape[0]):#para i dado o tamanho da string(22), imprime i
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [ ]:
  tipo_de_imovel.index = range(tipo_de_imovel.shape[0])#atribuímos os valores, então, aos índices
  tipo_de_imovel

                           Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

In [ ]:
tipo_de_imovel.columns.name = 'id'#nomeamos a column como 'id'
tipo_de_imovel

id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria